RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

#rule for site1.com to link to site1folder directory
    RewriteCond %{HTTP_HOST} ^(www.)?danielvalle.ca$
    RewriteCond %{REQUEST_URI} !^/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /$1

    #NFL_RUSH

    RewriteCond %{HTTP_HOST} ^(www.)?danielvalle.ca$
    RewriteCond %{REQUEST_URI} !^/nfl/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /nfl/$1
