
.navbar {
  margin-bottom: 7vh;
}

.navbar-brand ,.logo {
  height: 10vh;
  margin-left: 5vw;
}

.navbar-collapse {
  position: relative;
  box-sizing: border;
  right: 10vw;
}

.button {
  background-color: white;
}

.nav-link, .fa-search {
  color: #d8242e;
  font-weight: bold;
}
