
.navbar {
  margin-bottom: 7vh;
}

.navbar-brand, .logo {
  height: 10vh;
  margin-left: 5vw;
}

.navbar-toggler {
  margin-right: 7vw;
}

.navbar-toggler-icon {
  color: #d8242e;
}

.navbar-collapse {
  display: grid;
  right: 7.5vw;
  margin-right: 7vw;
}

.button {
  background-color: white;
}

.nav-link, .fa-search {
  color: #d8242e;
  font-weight: bold;
&:hover {
    color: #053b71
  }
}

.search-button {
  position: relative;
  right: 3.5vw;
}
