
.teams-div {
  grid-column: 2 / 11;
}

.table-div {
  overflow-x: auto;
}

.table {
  border-radius: 15px;
  grid-column: 2 / 11;
  table-layout: auto;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
