
body {
  background-color: transparent;
}

.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.root {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
