// IMPORTS

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto';
}

// ============ SASS VARIABLES ========= //

$blue: #053b71;
$red: #d8242e;

// =========== OVERRIDES =========== //


p, h6 {
margin: 0;
}

// ============ NAVBAR ============ //

.navbar {
  margin-bottom: 7vh;
}

.navbar-brand, .logo {
  height: 10vh;
  margin-left: 5vw;
}

.navbar-toggler {
  margin-right: 7vw;
}

.navbar-toggler-icon {
  color: $red;
}

.navbar-collapse {
  display: grid;
  right: 7.5vw;
  margin-right: 7vw;
}

.button {
  background-color: white;
}

.nav-link, .fa-search {
  color: $red;
  font-weight: bold;
&:hover {
    color: $blue;
  }
}

.search-button {
  position: relative;
  right: 3.5vw;
}

// ============ CONTAINERS ============ //

.grid-container {
  column-gap: 2%;
  display: grid;
  grid-row-gap: 4%;
  grid-template-columns: repeat(11, 1fr);
  margin-bottom: 10%;
  margin-top: 2%;
  width: 100vw;
}

.players-header {
  grid-row: 1
}

.div-shadow {
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.div-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.2s;
}

.header {
  text-align: center;
  background-color: $blue;
  color: white;
  font-size: 5vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1vh;
}

.players-div {
  grid-column: 2 / 11;
}

.title {
  text-align: center;
}

.selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vh;
  color: $red;
  font-weight: bold;
  margin: auto;
}

// ========= PLAYER AND TEAMS =========== //

.information-div {
  grid-column: 3 / 10;
}

// ======== TABLES =========

.table-div {
  overflow-x: auto;
}

.table {
  border-radius: 15px;
  table-layout: auto;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.table th, .table td {
  text-align: center;
}

th {
  background-color: $blue;
  color: white;
  border: 1px solid white;
}

td {
  text-align: left;
  border: 1px solid;
  border-bottom-left-radius: 15px;
}

tbody {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f5f8f8;
}

// =========== SELECTION MENU ============

.menu {
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 2.5vh;
  color: $red;
  font-weight: bold;
  padding: 1vh;
}

.check {
  margin-left: 10px;
}

// =========== SWITCH BUTTON ===============

outerDivFull { margin:0px; }

.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 30px; max-width: 30px; height: 15px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 13px; height: 11px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: $blue; }
.switchToggle input + label:before, .switchToggle input + input + label:before { position: absolute; top: 5px; left: 30px; width: 15px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {position: absolute; top: 5px; left: 10px; width: 13px; height: 11px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 20px; }
.toggle-switchArea { margin: 10px 0 10px 0; }

// ================ SEARCH ================= //

.search-div {
  grid-column: 3 / 10;
  justify-content: center;
}

.search-results {
  width: 100%;
  text-align: center;
  font-size: 3vh;
  color: $blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#list {
  justify-content: center;
  grid-column: 3 / 10;
}

//  =============== PAGINATION ================ //

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  color: $blue;
  font-weight: bold;
  margin-top: 1.5vh;
}

.page-link {
  margin: auto;
  background-color: $blue;
  color: white;
  &:hover {
    background-color: $red;
    color: white;
  }
}

//  =============== ABOUT ================ //

.about {
  grid-template-rows: 1fr 1fr 1fr;
}

.about-heading {
  grid-column: 2 / 10;
}

.about-text {
  grid-column: 2 / 10;
}

//  =============== MEDIA QUERIES ================ //

@media only screen and (max-width: 992px) {

  .div-grid {
    grid-row: 4;
    grid-row-gap: 4%;
    grid-template-rows: repeat(4fr);
  }

  .player {
    grid-column: 2 / 11;
    grid-row: 1;
  }

  .Team {
    grid-column: 2 / 11;
    grid-row: 2;
  }
}
